.my-icon {
    background-image: url("../assets/sitebrief.svg");
    background-size: 100px;
    background-repeat: no-repeat;
    position:fixed;
    top:-10px;
    left:0;
    width:100%;
    height:60px;
    /* border-bottom: #555 1px solid; */
    /* height: 400px; */
}
#myMenu2 {
    z-index: 5;
    overflow:visible;
    width:100%;
    /* position:sticky; */
    top:0;
    right:0;
}
#mainSide {
    height:100%;
    overflow:visible;
    /* padding-bottom:65px; */
}
#mainSide.bgPVPI {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    /* height:100vh; */
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0, rgba(92, 77, 66, 0.8) 100%), url("../assets/PVPI/bg-masthead_07.jpg");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
 
}
#mainSide.bgWorldCup2022 {
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem); */
    /* height: calc(100vh - 55px); */
    height: 100vh;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0, rgba(92, 77, 66, 0.8) 100%), url("../assets/worldcup/bg.webp");
    background-color: red;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
 
}

#leftSide {
    display:none;
    position: fixed;
    top:55px;
    /* padding-bottom:55px; */
    left:0;
    width:250px;
    max-height:100vh;
    overflow:visible;
    background-color: khaki;
}

#myMenu2 .my-active {
    background-color:whitesmoke ;
} 
#myMenu2 .my-active::after {
    content: "\026CF" ;
    position: absolute;
    bottom:0; right:0;
} 

.notificationHolder {
    position: fixed;
    top:120px;
    left:0;
}
.my-notification {
    position: relative;
    top:100%;
    left:0;
    width:250px;
    opacity: 0;
    /* background-color:palegreen; */
    border-radius: 6px;
    font-size:20px;
    animation-name: my-notifying;
    animation-duration: 2s;
}
@keyframes my-notifying {
    0% {opacity:0.2}
    30% {opacity:1}
    60% {opacity:1}
    100% {opacity:0}
}

@keyframes my-left-out {
    0% {}
    100% {left:-100%}
}

.my-center {
    /* horizontally middle and vertically center */
    display:flex;
    justify-content: center;
    align-items:center;
    /* => text */
    text-align: center;
    vertical-align: middle;
    /* test */ 
    /* border: 1px solid lightsalmon; */
}

.my-title-icon {
    position:absolute;
    text-align: left;
    height:60px;
    width:60px;
    top:0px;
    left:110px;
}
.my-title-icon img {
    width:30px;
}

.my-title-start {
    position:absolute;
    top:0px;
    right:0px;
}
.my-title-end {
    position:absolute;
    top:20px;
    right:0px;
}

.my-add-info {
    position:absolute;
    bottom:0;
    right:0;
    bottom:-4px;
    width:100%;
    /* right: 20%; */
    color:red;
    padding:0;
}

.my-tooltip {
    position:relative;
    display:inline-block;
    overflow: visible;
}
.my-tooltip .my-tooltip-content {
    visibility:hidden;
    position: absolute;
    width:125px;
    top:100%;
    right:0;
    z-index: 2;
    border-radius: 6px;
    color:pink;
    background-color: #555;
    /* break the long string */
    word-wrap: break-word;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}
/* Tooltip arrow */
.my-tooltip .my-tooltip-content::before {
    content: "";
    position: absolute;
    bottom:100%;
    right: 16px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
  }
.my-tooltip:hover .my-tooltip-content {
    visibility: visible;
    opacity: 1;
}
.my-tooltip .my-tooltip-content-right {
    visibility:hidden;
    position: absolute;
    width:125px;
    left:100%;
    bottom:0;
    z-index: 2;
    border-radius: 6px;
    color:pink;
    background-color: #555;
    /* break the long string */
    word-wrap: break-word;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}
/* Tooltip arrow */
.my-tooltip .my-tooltip-content-right::before {
    content: "";
    position: absolute;
    left:100%;
    top: 5px;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent #555 transparent transparent;
  }
.my-tooltip:hover .my-tooltip-content-right {
    visibility: visible;
    opacity: 1;
}

.my-login-tick-ng {
    color:red;
    position: absolute;
    top:0;
    right:-0;
}

.my-login-tick-ok {
    color:green;
    position: absolute;
    top:0;
    right:-0;
}

.my-user-title {
    color:blue;
    position: absolute;
    top:0;
    left:0;
    font-size:10px;
}

.my-user-email {
    color:purple;
    position: absolute;
    bottom:0;
    left:0;
    font-size:10px;
}

.my-div-for-sum-table {
    float:left;
    width:100%;
}
@media (min-width:1050px) { .my-div-for-sum-table{width:49.99999%} }
@media (min-width:1450px){ .my-div-for-sum-table{width:33.33333%} }

/* a Running Line Animation using CSS3 */
/* https://codepen.io/nikhil/pen/aOMQaR */
.running_line{
    position: fixed;
    top: 53px;
    left: 0;
    margin-left:100px;
    width: 100%;
    height: 3px;
    background: rgb(7, 7, 170);
    z-index: 9;
    overflow: hidden;
    animation: lineleft 5s 1;
}
.running_dot{
    position: absolute;
    height: 3px;
    width: 5px;
    background: rgb(255, 156, 156);
    /* animation: dotleft 2s cubic-bezier(.72,.03,.75,.54) infinite; */
    animation: dotleft 2s cubic-bezier(.72,.03,.75,.54) 1;
}
/* .running_dot1{
    empty
} */
.running_dot2{
    animation-delay: .4s;
}
.running_dot3{
    animation-delay: .8s;
}
.running_dot4{
    animation-delay: 1.2s;
}
.running_dot5{
    animation-delay: 1.6s;
}
@keyframes dotleft {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
@keyframes lineleft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* hide the left slowly */
.my-show-right-slowly {
    animation: hideLeft 2s;
}
@keyframes hideLeft {
    0% { margin-left: 250px;}
    100% {margin-left: 0}
}


/*  */
footer {
    font-size:10px;
    font-style: italic;
    font-weight: bold;
    position:fixed;
    bottom:0;
    right:0;
    color:lightgrey;
}

footer::after {
    content: " Powered by MD@RVC";
    color:darkgray;
}


/* some control */
.myCnt-select-big {
    position: absolute;
    top: 0;
    left: 0;
}
.myCnt-select-small {
    position: absolute;
    bottom: 0;
    left: 0;
}
.myCnt-bet-score {
    position: absolute;
    bottom: 0;
    right: 0;
}