div h3 {
  margin: 0;
  margin-top: 1em;

  padding: 0;
}

.headerMoreInfo {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(0, 114, 201, 0.2);
  padding:0;
  padding-left: 1%;
}

main #content {
  flex:5;
  display:block;
  font-size:1.7em;
}

/*Fixed sidebar*/
.leftAside {
  /* height:100 %; */
  /* top: 0; */
  position: fixed;
  max-width: 140px;
  font-size: 14px;
  transition: top 1s;
}

main > div {
  margin-left: 180px;
  padding: 0;
}

p b {
  font-size: 120%;
  text-decoration-line: underline;
}

/*Settigng for marker explanation (aside leftAside)*/
/*take effect after JavaScript launched*/
.markerBriefInfo {
  display:none;
  position: absolute;
  color: #f1f1f1;
  background-color: #010101;
  min-width: 160px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;
  font-size:15px;
  /* z-index: 1; */
  margin-left: 20px;
}
.leftAside a:hover {
  color:black;
  background-color:#4030f0;
}
.leftAside a:hover .markerBriefInfo {
  display:block;
}

.errorBox {
  background-color: #e75555;
}
.successBox {
  background-color: #80e080;
}

#howto_use_validate p,
#howto_use_validate ul,
#howto_use_validate li,
#howto_use_validate table
 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: initial;

  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#howto_use_validate pre {
  border-left: 2px solid blue;

  background-color: #ffffa0;

  margin-top:0;
  padding-top:0;

  padding-left: 2%;

  font-size: 12px;
}
#howto_use_validate .explanation p {
  font-size:0.7em;
  text-align:left;
  /* font-style: italic; */
}

/*setting for table in howto_use_validate*/
#howto_use_validate td
 {
  font-size: 80%;
}
#howto_use_validate tr:nth-child(even) td {
  background-color: rgb(120,120,120);
}

#howto_use_validate tr:nth-child(odd) td {
  background-color: rgb(186, 129, 129);
}

/*explanation class for the widget inside*/
.explanation {
  display: block;

  padding-top:0px;
  padding-left:10px;
  padding-right:0;
  padding-bottom:0;

  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  margin-bottom:1em;
  margin-right:0;

  border: 1px dashed black;
  
  background-color: #f9dddd;
}

.explanation a {
  display: inherit;
  font-size: 0.8em;
}

/*//////////////////////////////////*/
/*START CSS for form1, and it's errorBox*/
#form1 form,
#form1 .errorBox,
#form1 .successBox {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#form1 form p + p {
  /*helps 2 p get margin*/
  margin-top: 0.5em;
}

#form1 label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 170px;
  text-align: right;
}

#form1 input, 
#form1 textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width:300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;

  /*rounded the text field*/
  border-radius:0.3em;
}

#form1 input:focus, 
#form1 textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
  border-width: 2.5px;
  background-color:palegoldenrod;
}

#form1 textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

#form1 .submitButton {
  /* To position the buttons to the same position of the text fields */
  padding-left: 180px; /* same size as the label elements */
}

#form1 button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

#form1 input[type=text] {
  -webkit-appearance: none;

  border: 1px solid #333;
  /* width:98%; */ /*This will overwrite width previously declared*/
  margin: 0;
  margin-left: 2%;

  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: boder-box;
}
#form1 input[type=checkbox]{
  width: initial; /*get initial box width to be minimized*/
  
  /*same setting as other input*/
  -webkit-appearance: none;

  margin: 0;
  margin-left: 2%;

  -moz-box-sizing: border-box;
  box-sizing: boder-box;
}
/* although the novalidate is turned on, style is still effectively applied */
#form1 input.invalid{
  border-color:#900000;
  background-color: #FDD;
}

#form1 input:focus.invalid {
  outline: none;
}

#form1 .error {
  width:98%;
  margin: 0;
  margin-left: 2%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#form1 .error .active  {
  padding. 0.3em;
}
/*FINISH CSS for form1*/

/*START CSS for form3*/
#form3 h1, h2, h3, h4 {
  margin-top: 0;
}

#form3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#form3 form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 2px solid #FFF;
  border-radius: 1em;
}
#form3 section {
margin: 2px 0 0 2px;
}

#form3 div+div {
  margin-top: 1em;
}

#form3 label span {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-size: 1em;
}

#form3 input,
#form3 textarea {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}

#form3 input[type=checkbox],
#form3 input[type=radio] {
  width: auto;
  border: none;
}

#form3 input:focus,
#form3 textarea:focus {
  border-color: #000;
  background-color: aquamarine;
}

#form3 textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

#form3 fieldset {
  width: 250px;
  box-sizing: border-box;
  margin-left: 130px;
  border: 1px solid #999;
}

#form3 button {
  margin: 10px 0 0 20px;
}

#form3 label {
position: relative;
}

#form3 label em {
position: absolute;
right: 10px;
top: 20px;
font-size:70%;
}
/*FINISH CSS for form3*/

/*START CSS for form4*/

#form4 section {
margin-top: 2px;
}

#form4 div+div {
  margin-top: 1em;
}
#form4 p+p {
  margin-top: 2em;
}
#form4 fieldset+fieldset{
  margin-top: 1em;
}
#form4 fieldset{
  width:45%;
  vertical-align: bottom;
  display:inline-block;
}
#form4 fieldset ul{
  display:none;
}
#form4 .checkableItems:hover ul {
  display:inline-block;
}
#form4 .dropdownList fieldset {
  min-height:275px;
}
#form4 button {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

/*FINISH CSS for form4*/

/*START CSS for form5*/
/* #form5 .explanation { */


#form5 .display {
  display:inline-block;
  margin-top:0px;
  margin-left:inherit;
  margin-bottom:0;
  font-size:inherit;
  text-align:left;
  color: blue;
}

#form5 section {
  margin-top:2px;
}

#form5 ul {
  margin-left:0px;
  padding-left:0;
}
#form5 ul li {
  margin-left:0;
}
/*FINISH CSS for form5*/

/*START CSS for form6*/
#f6s1 *:valid {
  background-color: #00f030;
}
#f6s1 *:invalid {
  background-color: #f00030;
}

/*-------*/
#f6s2 {
  font: 1em sans-serif;
  padding: 0 5px;
  margin : 0;
}

#f6s2 p > label {
  display: block;
  max-width: 200px;
  width: 90%;
  margin: 0;
  margin-left: 5%;
}

#f6s2 input[type=text],
#f6s2 input[type=email],
#f6s2 input[type=number],
#f6s2 textarea,
#f6s2 fieldset {
/* required to properly style form 
   elements on WebKit based browsers */
  -webkit-appearance: none;
  
  max-width:200px;
  width : 90%;
  border: 1px solid #333;
  margin: 0;
  margin-left:5%;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#f6s2 input:invalid {
  box-shadow: 0 0 5px 1px red;
}

#f6s2 input:focus:invalid {
  outline: none;
}
/*FINISH CSS for form6*/

/*START CSS for form8*/
#f8s1 input, 
#f8s1 label,
#f8s1 .error {
  max-width: 300px;
  display: block;
}

#f8s1 input[type=text] {
  -webkit-appearance: none;

  border: 1px solid #333;
  width:98%;
  margin: 0;
  margin-left: 2%;

  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: boder-box;
}
/* although the novalidate is turned on, style is still effectively applied */
#f8s1 input:invalid{
  border-color:#900000;
  background-color: #FDD;
}

#f8s1 input:focus:invalid {
  outline: none;
}

#f8s1 .error {
  width:98%;
  margin: 0;
  margin-left: 2%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#f8s1 .error .active  {
  padding. 0.3em;
}
/*END CSS for form8 */

/*START CSS for form9*/
#f9s1 input, 
#f9s1 label,
#f9s1 .error  {
  max-width: 300px;
  display: block;
}

#f9s1 input[type=text] {
  -webkit-appearance: none;

  border: 1px solid #333;
  width:98%;
  margin: 0;
  margin-left: 2%;

  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: boder-box;
}
/* although the novalidate is turned on, style is still effectively applied */
#f9s1 input.invalid{
  border-color:#900000;
  background-color: #FDD;
}

#f9s1 input:focus.invalid {
  outline: none;
}

#f9s1 .error {
  width:98%;
  margin: 0;
  margin-left: 2%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#f9s1 .error .active  {
  padding. 0.3em;
}
/*END CSS for form8 */
